// remove max-width for home hero to stretch fullbleed
$hero-height: 634px;
$hero-height-plus: 700px;

.hero {
  position: relative;
  background-position: center top;
  background: $white-smoke;
  padding-bottom: rem(20);
  margin-bottom: rem(40);

  @include mq($tablet) {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @include mq($desktop) {
    padding-top: 0;
    background: none;
  }

  .photo {
    width: 100%;
    @include background-cover;
    background-image: url($images-path + 'hero-drpaul.jpg');
    background-position: center top;

    @include mq($tablet-max) {
      @include aspect-ratio(percentage(9/16), null);
    }

    @include mq($tablet-only) {
      width: 40%;
    }

    &::after {
      content: '';
      background: linear-gradient(to top, rgba($black, 0.60) 0%, rgba($black, 0) 20%);
    }

    @include mq($tablet) {

      &::after {
        @include fit-container;
      }

    }

    @include mq($desktop) {
      position: absolute;
      width: 100%;
      min-height: $hero-height;

      &::before {
        content: '';
        @include fit-container;

        @include mq($desktop) {
          background: linear-gradient(to right, rgba($black, 0.60) 24%,rgba($black, 0) 50%);
        }

        @include mq($desktop-med) {
          background: linear-gradient(to right, rgba($black, 0.60) 24%, rgba($black, 0) 40%);
        }

      }

    }

    @include mq($desktop-plus) {
      min-height: $hero-height-plus;
    }

  }//.photo

  .hero-container {
    @include grid-container;

    @include mq($tablet-only) {
      padding-left: rem(30);
      width: 60%;
    }

    @include mq($desktop) {
      min-height: $hero-height;
      position: relative;
    }

    @include mq($desktop-plus) {
      min-height: $hero-height-plus;
    }

  }//.hero-container

  .mission {
    position: relative;
    z-index: 1;
    padding-top: rem(20);

    @include mq($desktop) {
      color: $white;
      max-width: 40%;
      padding-top: rem(40);
    }

    @include mq($desktop-med) {
      max-width: 35%;
      padding-top: rem(50);
    }

    @include mq($desktop-plus) {
      max-width: 30%;
      padding-top: rem(60);
    }

    h2 {
      margin-top: 0;
      margin-bottom: rem(6);
      letter-spacing: -.025em;
      @include font(18);

      @include mq($desktop) {
        @include font(22);
      }

    }//h2

    p,
    %p,
    ul,
    ol,
    li {
      @include margin(rem(24) null);
      @include font(15, 24);

      @include mq($desktop) {
        @include font(18, 28);
      }

    }//typography

    a {
      font-weight: bold;

      @include mq($desktop) {
        color: $white;
        text-decoration: underline;
      }

    }

    p {

      @include mq($tablet-max) {

        &:last-of-type {
          @include font(18);
          margin-bottom: rem(30) !important;
        }

      }

    }

    ul {
      margin-top: rem(16);
    }

  }//.mission


  .newsletter {

    @include mq($desktop) {
      position: absolute;
      z-index: 1;
      bottom: 30px;
      left: 50px;
    }

    fieldset {
      position: relative;
      height: 50px;

      @include mq($tablet-only) {
        margin-bottom: 14px;
      }

      @include mq($desktop) {
        width: 400px;
      }

      label {
        @include visually-hidden;
      }
    }

    input[type=text],
    input[type=email] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 10px 140px 10px 15px;
      @include font(20);

      @include mq($desktop) {
        background: $white-transparent-hero;
        box-shadow: none;
        border: 0;
      }

      @include placeholder {
        color: $nero;
      }

    }

    input[type=submit] {
      position: absolute;
      right: 5px;
      top: 7px;
      padding: rem(11) rem(15) rem(10);
      @include font(18);

      @include mq($mobile) {
        width: auto;
      }

      @include mq($desktop) {
        top: 5px;
        padding-bottom: rem(11);
      }

    }//input[type=submit]

  }//newsletter

  .social-container {

    @include mq($desktop) {
      @include grid-container;
      min-height: $hero-height;
      position: relative;
    }

    @include mq($desktop-plus) {
      min-height: $hero-height-plus;
    }

  }

  .social-media-icons {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 30px;
    right: 50px;

    @include mq($mobile) {
      bottom: 12px;
      right: 24px;
    }

    @include mq($tablet-only) {
      right: auto;
      left: 30px;
      bottom: 16px;
    }

  }

}//.hero
