// Layout Max Width
$layout-max-width: 1540px;

// Layout Grid Columns
$layout-columns: 24;

// Layout Side Gutters
$gutter-mobile: 20px;
$gutter-desktop: 50px;

// Layout Top Padding
$hdr-height-mobile: 70px;
$hdr-height-tablet: 90px;
$hdr-height-desktop: 106px;
