footer#footer {
  @include clearfix;
  background: $egyptian-blue;
  color: $white;
  padding: 40px 0;

  @include mq($tablet) {
    padding: 50px 0;
  }

  @include mq($desktop-med) {
    padding: 50px 0;
  }

  @include mq($desktop-plus) {
    padding: 60px 0;
  }

  .footer-container {
    @include grid-container;
  }

  a {
    color: $white-smoke;
    transform: translate3d(0,0,0);

    @include hover {
      color: $white;
      text-decoration: underline;
    }
  }

  .logo {
    float: left;
    background-image: url($images-path + 'logo-white.svg');
    width: 300px;
    height: 30px;
    background-size: 300px auto;
    background-position: center left;
    margin-bottom: rem(30);
  }

  .social-container {
    clear: left;
    float: left;
    margin-bottom: rem(20);

    @include mq($tablet) {
      clear: right;
      float: right;
      margin-bottom: rem(27);
    }

  }

  nav.main {
    clear: left;
    float: left;
    margin-bottom: rem(40);

    @include mq($tablet) {
      margin-bottom: 0;
    }

    ul {

      @include mq($desktop) {
        display: flex;
      }

      > li {
        margin-right: rem(20);
        @include font(18);
        font-family: lato;
        font-weight: bold;

        @include mq($tablet-max) {
          margin-bottom: rem(10);
        }

      }

    }

  }

  .copyright {
    clear: left;
    float: left;
    @include font(16);

    @include mq($tablet) {
      clear: right;
      float: right;
    }
  }//.copyright

}//footer
