#header {
  position: relative;
  width: 100%;
  @include grid-container;

  @include mq($mobile) {
    height: $hdr-height-mobile;
  }

  @include mq($tablet-only) {
    height: $hdr-height-tablet;
  }

  @include mq($tablet-max) {
    //position: fixed;
    z-index: 100;
    background: $white-transparent;
    border-bottom: solid 1px $white-smoke;
    overflow: hidden;
  }

  @include mq($desktop) {
    display: flex;
    align-items: flex-end;
    height: $hdr-height-desktop;
    padding-bottom: rem(20);
  }

  // remove gutter for sticky header weirdness
  .layout-inner-container {

    @include mq($tablet) {
      padding: 0;
    }

  }//.layout-inner-container

  .hamburger-menu {
    @extend %hamburger-menu;
    margin-top: -1px;

    // white mask
    .mobile-nav-open & {

      &::after {
        content: '';
        position: absolute;
        background: $white-transparent;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 1000%;
      }

    }//.mobile-nav-open &

  }//.hamburger-menu

  .topnav {
    display: none;

    @include mq($desktop) {
      display: block;
    }

    @include mq($tablet) {
      align-self: flex-end;
    }

    > ul {
      display: flex;

      li {
        color: $denim;
        font-family: $lato;
        font-weight: bold;
        line-height: 1;
        @include transition;
        @include font(15);

        @include mq($tablet) {
          @include font(16);
          margin-left: rem(14);
        }

        @include mq($desktop) {
          @include font(16);
          margin-left: rem(30);
        }

        @include mq($desktop-med) {
          @include font(18);
        }

        @include mq($desktop-plus) {
          @include font(20);
        }

        a {
          color: $persian-green;
          @include transition;
          text-decoration: none;

          @include hover {
            color: $denim;
          }

        }//a

      }//li

    }// > ul

  }//.topnav

}//#header
