.partners {
  background: $alto;

  nav {
    @include grid-container;
    padding: rem(20) 0;

    @include mq($desktop) {
      @include spacing(padding);
    }

    > ul {
      @include no-bullet;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @include mq($desktop) {
        flex-wrap: nowrap;
      }

      > li {

        @include mq($tablet-max) {
          padding: rem(20) rem(40) !important;
        }

        @include mq($desktop) {
          flex-grow: 1;
          padding: 0 rem(20);
        }

        @include mq($desktop-med) {
          padding: 0 rem(24);
        }

        @include mq($desktop-plus) {
          padding: 0 rem(30);
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        img {
          width: 100%;

          @include mq($tablet-max) {
            max-width: 400px;
          }

        }

        > a {
          display: block;
          margin: 0 auto;
          @include hide-text;
        }// >a

      }// >li

    }//.logos

  }//nav

}//.partners
