// Site specific call to action mixins

@mixin cta-link {
  //@extend %futura-bold;
  font-size: rem(14);
  line-height: 1;
  color: $denim;

  @include mq($tablet) {
    font-size: rem(16);
  }

  &::after {
    content: '\00A0\003e';
    display: inline-block;
  }

  @include hover {
    text-decoration: underline;
  }
}
