%more-link {
  margin: rem(12) 0;
  font-family: $roboto;
  font-weight: bold;
  @include font(16);
  line-height: 1;
  white-space: nowrap;

  @include mq($ipad) {
    @include font(18);
  }

  @include mq($desktop-plus) {
    margin: rem(24) 0;
    @include font(22);
  }

  &::after {
    content: ' >';
    color: $denim;
  }

}//%more-link

.more-link {

  a {
    @extend %more-link;

    .ext {
      display: none;
    }
  }

}
