.logo {
  position: relative;
  @include background-cover;
  @include hide-text;
  @include transition;
  display: block;
  background-image: url($images-path + 'logo.svg');
  width: 220px;
  height: 70px;
  background-size: 220px auto;
  background-position: center left;

  @include mq($tablet) {
    width: 300px;
    height: 90px;
    background-size: 300px auto;
  }

  @include mq($desktop) {
    margin-bottom: 1px;
    height: 106px;
    margin-right: auto;
    background-position: bottom left;
  }

  @include mq($desktop-med) {
    margin-bottom: 2px;
    width: 400px;
    background-size: 400px auto;
  }

  @include mq($desktop-plus) {
    width: 480px;
    background-size: 480px auto;
  }

}//.logo
